.blog-section {
  margin-left: 280px;
  height: 100%;
  padding: 0 20px;
  transition: 0.5s ease;
}
.blog-news-list {
  transition: 0.5s ease;
  cursor: pointer;
}
.blog-list-data {
  background-color: #fff;
  border-radius: 15px;
}
.blog-news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.grid-data {
  background: #fff;
  border-radius: 15px;
}
.grid-desc h5 {
  font-size: 1.1rem;
  text-transform: capitalize;
}
.grid-desc p {
  font-size: 0.98rem;
  color: rgb(158, 155, 155);
}
.cls-btn {
  text-align: right;
  cursor: pointer;
}
.close-btn {
  cursor: pointer;
}

.itemPagination {
  display: flex;
  justify-content: center;
}
ul {
  text-align: center;
  list-style: none;
  display: flex;
}
li {
  padding: 2px 8px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 3px;
  cursor: pointer;
}
button {
  border: none;
  background-color: transparent;
}
.activePage {
  background-color: rgb(168, 168, 168);
}
